$icomoon-font-family: "yan" !default;
$icomoon-font-path: "../fonts" !default;

$yan-facebook: "\ea90";
$yan-twitter: "\ea96";
$yan-youtube2: "\ea9e";
$yan-github: "\eab0";
$yan-wordpress: "\eab4";
$yan-linkedin2: "\eaca";

// Colors

$mainColor: #e54b4b;
$secondaryColor: #f7ebe8;
